@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: blue;
    color: white;
    min-height: 100svh;
    font-family: 'Times New Roman', Times, serif;
    /* padding: .1em; */
}